
.Notifications{
    position: absolute;
    width: 99%;
    top: 0%;
    margin-top: 12px;
    border: 2px dotted #c53550;
}
li[data-priority="default"] {
	color: blue;
}

li[data-priority="urgent"] {
	color: red;
}
